# Local environment variables
.env
# Logs
*-debug.log
*-error.log

# Build outputs
/dist
/lib

# Dependencies
/node_modules
/package-lock.json

# Testing
/.nyc_output

# Temporary files
/tmp

# OCLIF specific
oclif.manifest.json
oclif.lock

# OS specific files
**/.DS_Store

# IDE files
/.idea

# Lock files
yarn.lock

# Coverage
/coverage

# Temporary files
*.tgz